/* Layout */
body, html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  flex: 1; /* Makes the main content area take up remaining space */
  padding: 20px;
}

/* Header */
header {
  background-color: #2f2f48;
  color: white;
  padding: 20px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjusted gap for spacing between links */
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #2f2f48;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer p {
  margin: 0;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
}

footer nav ul li a:hover {
  text-decoration: underline;
}
